/* Global stylesheet with separate imports for page-specific CSS and for Media Queries */

/* Global colours */
:root {
  /* Darker colour for main content */
  --grey-darker: #AAB3CF;
  /* Lighter colour for main content */
  --grey-lighter: #C5CFEF;
  /* Sidebar / nav colour  */
  --grey-blue: #677BB9;
  /* Lighter colour for 'card' elements */
  --grey-lightest: #D0DAFB;
  /* Hover colour for links */
  --hover: #14D0D0;
  /* Font colour default */
  --font: #363709;
}


/* Global font sizes, pages will use rem for sizes */
html {
  font-size: 8px;
}

/* Include padding and margin in element size - applied globally */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--grey-lighter, lightgrey);
  color: var(--font, black);
  /* color: #363709; */
  line-height: 1.2;
  text-align: left;
  /* font-size: 5rem; */
  font-family: Comfortaa;
}

h4, h3 {
  font-size: 3rem;
  margin: 2px;
}

p {
  font-size: 2rem;
}



/* Header formatting */

.header {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

.animoji {
  max-height: 80%;
  border-radius: 40%;
  margin: 5px;
}

/* animoji hover state to shake */
/* adapted from https://www.w3schools.com/howto/howto_css_shake_image.asp */
.animoji:hover {
  /* Start the shake animation*/
  animation: shake 0.8s;
  /* animation-iteration-count: infinite; */
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header-text {
  /* display: flex; */
  /* border: solid 2px red; */
  margin: 5px 20px 5px;
  padding: 10px;
}

.header-text > h1 {
  font-size: 8rem;
}

.header-text > h2 {
  font-size: 3.5rem;
}



/* Navigation sidebar formatting */

.navigation {
  padding-left: 20px;
  display: flex;
  /* flex-direction: row; */
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* for column flex start align's to left */
  align-items: flex-start;
  font-size: inherit;
  color: var(--grey-lighter, lightgrey);
}

.navigation h3 {
  padding: 6px;
}

.navlinks {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: inherit;
}

.navlinks a {
  padding-top: 10px;
  font-size: 2.5rem;
  color: var(--grey-darker, lightslategrey);
}

.navlinks a:hover {
  color: var(--hover, cyan);
  font-style: italic;
  /* color: #1FF8F8; */
}


.navsocial {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: inherit;
}

.navsocial h4 {
  margin-bottom: 10px;
}

.navsocial img {
  width: 90px;
  padding:10px;
}

.navsocial a:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
  border-radius: 35%;
  background-color: var(--grey-lighter, lightgrey);
  color: var(--hover, cyan);
  /* color: #1FF8F8; */
}






/* Base CSS Grid for main page  */

.container1 {
  font-size: 3.5rem;
  line-height: 1;
  /* color: red; */
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  /* flexible sizes ...use auto or fr units?? */
  grid-template-rows: 280px auto 100px;
  grid-template-columns: 250px auto;
  /* grid-gap: 10px; */
  /* move to separate css later */
  grid-template-areas:
    "hd hd"
    "nav ct"
    "ft ft";
}

/* area is the class for elements for the first grid division */
.area {
  padding: 10px;
  font-size: inherit;
  /* for seeing css grid elements' placement */
  /* border: solid 2px red; */
}

.header {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: hd;
}

.navigation {
  background-color: var(--grey-blue, lightslategrey);
  /* background-color: #677BB9; */
  grid-area: nav;
  min-height: 300px;
}

.content {
  background: inherit;
  grid-area: ct;
}

.footer {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: ft;
}

.footer p {
  font-size: 1.5rem;
  text-decoration: underline;
}



/* CSS for Grid Subdivision for content / cards */

.container2 {
  font-size: inherit;
  /* color: red; */
  /* min-height: 300px; */
  width: 100%;
  background: inherit;
  display: grid;

  grid-template-rows: auto auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  /* move to separate css later */
  grid-template-areas:
    "intro intro"
    "ch ch"
    "c1 c2"
    "c3 c4";
}
#card1 {
  grid-area: c1;
}

#card2 {
  grid-area: c2;
}

#card3 {
  grid-area: c3;
}

#card4 {
  grid-area: c4;
}



/* Content  formatting */

#intro {
  background: inherit;
  grid-area: intro;
  /* for seeing css grid elements' placement */
  /* border: solid 2px green; */
  padding: 6px;
  font-size: inherit;
}

#intro > p {
  font-size: 2.5rem;
}

#intro a:hover {
  color: var(--hover, cyan);
  font-style: italic;
}

#cardheader {
  text-align: center;
  background-color: var(--grey-lightest, ghostwhite);
  /* background-color: #AAB3CF; */
  grid-area: ch;
  padding: inherit;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
}



/* CSS for Main page Cards */

.card {
  background-color: var(--grey-lightest, ghostwhite);
  min-height: 200px;
  /* for seeing css grid elements' placement */
  /* border: solid 2px green; */
  margin: 2px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
  /* card zoom effect */
  transition: 0.4s;
  font-size: inherit;
}

.card button {
  background-color: var(--grey-lightest, ghostwhite);
  color: var(--font, black);
  /* color: var(--grey-darker, lightslategrey); */
  font-size: 2.5rem;
  border: 3px solid var(--grey-blue, lightslategrey);
  border-radius: 6px;
  margin: 2px 0px 10px 0px;
  margin-left: 0;
  padding: 5px;
}

.card button:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
  border: 3px solid var(--hover, cyan);
}

.card-image {
  width: 100%;
  border-radius: 8px;
  height: 375px;
  /* Crops image to ensure consistent image height between all cards */
  object-fit: cover;
  /* opacity ... change to 1 on hover */
  opacity: 0.65;
}





/* Hover styling for cards */

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.card:hover > .card-image {
  opacity: 1;
}








/* Blog post grids */

#blog-grids {

  font-size: inherit;
  width: 100%;
  background: inherit;
  display: grid;

  grid-template-rows: auto 180px;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 12px;
  grid-template-areas:
    "bl-c"
    "bl-a";
}

#blog-content {
  grid-area: bl-c;
  /* border: 2px solid red; */
  padding 10px;
}

#blog-author {
  grid-area: bl-a;
  /* border: 2px solid red; */
}

#bl-header-group {
  background-color: var(--grey-lightest, ghostwhite);
  padding: 5px;
  border-radius: 8px;
  /* border: 3px solid red; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
}



#blog-content  h3 {
  font-size: 6rem;
  padding: 5px 0 5px;
}

#blog-content  h4 {
  font-size: 3rem;
  padding: 5px 0 5px;
}

#blog-content p, li, figcaption {
  font-size: 2.5rem;
  padding-bottom: 5px;
  /* color:red; */
}

#bl-img-caption {
  text-align: center;
}

#bl-img-div {
  /* background-color: #C5CFEF; */
  background-color: inherit;
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

#bl-image {
  max-width: 70%;
  height:auto;
  display: block;
  margin: 0 auto 15px;
  border-radius: 20px;
}


#bl-container a:hover {
  color: var(--hover, cyan);
  font-style: italic;
}


/* Author section */

/* #blog-author  */

.flip {
  /* display: flex;
  flex-direction: column; */
  height: 150px;
  width: 600px;
  background-color: transparent;

  text-align: left;
  /* background-color: var(--grey-lightest, ghostwhite); */
  /* padding: 5px; */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
  /* 3d effect */
  perspective: 800px;

}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  padding-left: 15px;

}

/* #blog-author-name  */
.flip-front {
  /* background-color: var(--grey-lightest, ghostwhite); */
  background-color: inherit;
  border: 5px solid var(--grey-lighter, lightgrey);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.flip-front p {
  font-size: 3rem;
}


.flip-back {
  background-color: var(--grey-lighter, lightgrey);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotateY(180deg);
  text-align: left;
}

.flip-back p {
  font-size: 2rem;
}

.bl-bio-animoji {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.flip-back .bl-bio-animoji {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
