/* Global stylesheet with separate imports for page-specific CSS and for Media Queries */

/* Global font sizes, pages will use rem for sizes */
html {
  font-size: 8px;
}


/* Base CSS Grid for main page  */
.container1 {
  font-size: 2.5rem;
  color: red;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  /* flexible sizes ...use auto or fr units?? */
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 400px auto;
  grid-gap: 10px;
  /* move to separate css later */
  grid-template-areas:
    "hd hd"
    "nav ct"
    "ft ft";
}

.area {
  padding: 10px;
  font-size: inherit;
  /* for seeing css grid elements' placement */
  border: solid 2px red;
}

#header {
  background: LightSkyBlue;
  grid-area: hd;
}

#navigation {
  background: LightSalmon;
  grid-area: nav;
  min-height: 300px;
}

#content {
  background: LightGreen;
  grid-area: ct;
}

#footer {
  background: LightSkyBlue;
  grid-area: ft;
}




/* CSS for Grid Subdivision for content / cards */


.container2 {
  font-size: inherit;
  color: red;
  /* min-height: 300px; */
  width: 100%;
  background: inherit;
  display: grid;

  grid-template-rows: 300px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* move to separate css later */
  grid-template-areas:
    "intro intro"
    "c1 c2"
    "c3 c4";
}

#intro {
  background: Orange;
  grid-area: intro;
  /* for seeing css grid elements' placement */
  border: solid 2px green;
}

.card {
  min-height: 200px;
  /* for seeing css grid elements' placement */
  border: solid 2px green;
}

#card1 {
  background: Orange;
  grid-area: c1;
}

#card2 {
  background: Orange;
  grid-area: c2;
}

#card3 {
  background: Orange;
  grid-area: c3;
}

#card4 {
  background: Orange;
  grid-area: c4;
}
