/* Global stylesheet with separate imports for page-specific CSS and for Media Queries */

/* Global colours */
:root {
  /* Darker colour for main content */
  --grey-darker: #AAB3CF;
  /* Lighter colour for main content */
  --grey-lighter: #C5CFEF;
  /* Sidebar colour  */
  --grey-blue: #677BB9;
  /* Lighter colour for 'card' elements */
  --grey-lightest: #D0DAFB;
}


/* Global font sizes, pages will use rem for sizes */
html {
  font-size: 8px;
}

/* Include padding and margin in element size - applied globally */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--grey-lighter, lightgrey);
  color: #363709;
  line-height: 1.2;
  text-align: left;
  /* font-size: 5rem; */
  font-family: Comfortaa;
}


h4 {
  font-size: 3rem;
  margin: 2px;
}
p {
  font-size: 2rem;
}




/* Base CSS Grid for main page  */
.container1 {
  font-size: 3.5rem;
  line-height: 1;
  /* color: red; */
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  /* flexible sizes ...use auto or fr units?? */
  grid-template-rows: 150px auto 100px;
  grid-template-columns: 400px auto;
  /* grid-gap: 10px; */
  /* move to separate css later */
  grid-template-areas:
    "hd hd"
    "nav ct"
    "ft ft";
}

.area {
  padding: 10px;
  font-size: inherit;
  /* for seeing css grid elements' placement */
  /* border: solid 2px red; */
}

#header {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: hd;
}

#navigation {
  background-color: var(--grey-blue, lightslategrey);
  /* background-color: #677BB9; */
  grid-area: nav;
  min-height: 300px;
}

#content {
  background: inherit;
  grid-area: ct;
}

#footer {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: ft;
}




/* CSS for Grid Subdivision for content / cards */


.container2 {
  font-size: inherit;
  /* color: red; */
  /* min-height: 300px; */
  width: 100%;
  background: inherit;
  display: grid;

  grid-template-rows: 300px auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* move to separate css later */
  grid-template-areas:
    "intro intro"
    "ch ch"
    "c1 c2"
    "c3 c4";
}

#intro {
  background: inherit;
  grid-area: intro;
  /* for seeing css grid elements' placement */
  /* border: solid 2px green; */
  padding: inherit;
}

#cardheader {
  text-align: center;
  background-color: var(--grey-darker, lightslategrey);
  /* background-color: #AAB3CF; */
  grid-area: ch;
  padding: inherit;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);

}


/* CSS for Main page Cards */

.card {
  background-color: var(--grey-lightest, ghostwhite);
  min-height: 200px;
  /* for seeing css grid elements' placement */
  /* border: solid 2px green; */
  margin: 2px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
  /* card zoom effect */
  transition: 0.4s;

}

.card-image {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  /* Crops image to ensure consistent image height between all cards */
  object-fit: cover;
  /* opacity ... change to 1 on hover */
  opacity: 0.65;
}


/* Hover styling for cards */

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
  .card
}

.card:hover > .card-image {
  opacity: 1;
}

#card1 {
  grid-area: c1;
}

#card2 {
  grid-area: c2;
}

#card3 {
  grid-area: c3;
}

#card4 {
  grid-area: c4;
}
