/* Scale down global font sizes */

html {
  font-size: 5px;
}

.animoji {
  width: 90px;
}

.header-text > h1 {
  font-size: 6rem;
}

.header-text > h2 {
  font-size: 3rem;
}


.container1 {
  display: grid;
  grid-template-rows: 200px auto 200px 100px;
  grid-template-columns: auto;
  grid-template-areas:
    "hd"
    "ct"
    "nav"
    "ft";
}

.navsocial img {
  width: 45px;
  padding: 5px;
}
