/* Global stylesheet with separate imports for page-specific CSS and for Media Queries */

/* Global colours */
:root {
  /* Darker colour for main content */
  --grey-darker: #AAB3CF;
  /* Lighter colour for main content */
  --grey-lighter: #C5CFEF;
  /* Sidebar / nav colour  */
  --grey-blue: #677BB9;
  /* Lighter colour for 'card' elements */
  --grey-lightest: #D0DAFB;
  /* Hover colour for links */
  --hover: #14D0D0;
  /* Font colour default */
  --font: #363709;
}


/* Global font sizes, pages will use rem for sizes */
html {
  font-size: 8px;
}

/* Include padding and margin in element size - applied globally */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--grey-lighter, lightgrey);
  color: var(--font, black);
  /* color: #363709; */
  line-height: 1.2;
  text-align: left;
  /* font-size: 5rem; */
  font-family: Comfortaa;
}

h4, h3 {
  font-size: 3rem;
  margin: 0px;
}

p {
  font-size: 2rem;
}



/* Header formatting */

.header {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

.animoji {
  max-height: 80%;
  border-radius: 40%;
  margin: 5px;
}

/* animoji hover state to shake */
/* adapted from https://www.w3schools.com/howto/howto_css_shake_image.asp */
.animoji:hover {
  /* Start the shake animation*/
  animation: shake 0.8s;
  /* animation-iteration-count: infinite; */
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header-text {
  /* display: flex; */
  /* border: solid 2px red; */
  margin: 5px 20px 5px;
  padding: 10px;
}

.header-text > h1 {
  font-size: 8rem;
}

.header-text > h2 {
  font-size: 3.5rem;
}



/* Navigation sidebar formatting */

.navigation {
  padding-left: 20px;
  display: flex;
  /* flex-direction: row; */
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* for column flex start align's to left */
  align-items: flex-start;
  font-size: inherit;
  color: var(--grey-lighter, lightgrey);
}

.navlinks {
  padding: 20px 10px 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: inherit;
}

.navlinks a {
  padding-top: 10px;
  font-size: 2.5rem;
  color: var(--grey-darker, lightslategrey);
}

.navlinks a:hover {
  color: var(--hover, cyan);
  font-style: italic;
}

.navsocial {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: inherit;
}

.navsocial h4 {
  margin-bottom: 10px;
}

.navsocial img {
  width: 90px;
  padding:10px;
}

.navsocial a:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
  border-radius: 35%;
  background-color: var(--grey-lighter, lightgrey);
  color: var(--hover, cyan);
}






/* Base CSS Grid for all pages  */

.container1 {
  font-size: 3.5rem;
  line-height: 1;
  /* color: red; */
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;

  grid-template-rows: 280px auto 100px;
  grid-template-columns: 250px auto;
  /* grid-gap: 10px; */

  grid-template-areas:
    "hd hd"
    "nav ct"
    "ft ft";
}

/* area is the class for elements for the first grid division */
.area {
  padding: 10px;
  font-size: inherit;
  /* for seeing css grid elements' placement */
  /* border: solid 2px red; */
}

.header {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: hd;
}

.navigation {
  background-color: var(--grey-blue, lightslategrey);
  /* background-color: #677BB9; */
  grid-area: nav;
  min-height: 300px;
}

.content {
  background: inherit;
  grid-area: ct;
}

.footer {
  background-color: var(--grey-darker, lightslategrey);
  grid-area: ft;
}

.footer p {
  font-size: 1.5rem;
  text-decoration: underline;
}
